<div class="container">
  <h2>Video Tutorial Site2</h2>
  <div class="btn-toolbar bg-primary justify-content-between">
    <div class="btn-group">
    <a routerLink="home" class="btn btn-primary">Home</a>
    <a routerLink="js" class="btn btn-primary">Javascript</a>
    <a routerLink="jq" class="btn btn-primary">JQuery</a>
    <a routerLink="css" class="btn btn-primary">CSS</a>
    <a routerLink="contact" class="btn btn-primary">Contact</a>
    <a routerLink="categories" class="btn btn-primary" >Categories</a>

    </div>
    <div class="btn-group">
      <div class="form-inline">
        <input type="text" class="form-control">
      <button class="btn btn-primary">Search</button>
    </div>
    </div>

  </div>
  <div style="height: 300px; margin-top: 20px;">
  <router-outlet></router-outlet>
</div>
<div class="bg-primary text-white text-center">
  &copy; Copyright2020
</div>
</div>